




.middle{
	position: relative;

	margin-left: auto;
	margin-right: auto;

	width: 1024px;

}

.title{
	padding: 12px;
	padding-top: 38px;


	height: 50px; /* 50 + 12 + 38 = 100*/


	background-color: blue;
	font-size: 22pt;
}
.titleLetter{
	color:yellow;
}

#login{
	position: absolute;

	right: 12px;
	top: 12px;

	padding: 5px;

	background-color: red;
	font-size: 11pt;
}

.menu{
	
	background-color: yellow;
}

#menu{

	height: 40px;
	width: 700px;
	background-color: green;
}

#content{
	height: 500px;
	width: 774px;

	background-color: grey;
}

#asside{
	position: absolute;
	right: 0px;
	top: 0px;

	width: 250px;
	height: 100%;

	background-color: purple;
}

#horizontalPanel{
	position: relative;
}

.leftPanel{
	margin: 10px;
	
	background-color: brown;
}









